{% extends 'musicApp/base_template.html' %}

{% block content %}
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to our music app! We are a team of passionate music enthusiasts who aim to provide you with the best music experience.</p>
        <p>Our app allows you to discover new music, create playlists, and connect with other music lovers.</p>
        <p>Feel free to explore our app and enjoy the world of music!</p>
        <p>All content uploaded to this website is the responsibility of the uploader. The website takes no responsibility for any copyright infringement or other legal issues that may arise from the uploaded content.</p>
    </div>
{% endblock %}
